body {
  background-color: rgb(22, 38, 58);
}

h1 {
  color: rgb(119, 154, 252);
  font-family: Times New Roman;
}

h2 {
  color: rgb(192, 138, 179);
  font-family: Cambria;
}

p {
  background-color: #38262f;
  border: 2px solid powderblue;
  border-style: inset;
  text-align: center;
  font-family: system-ui;
  font-size: larger;
  margin: 30px;
  padding: 5px;
  color: rgb(255, 228, 196);
}

table {
  font-family: arial;
  color: rgb(255, 228, 196);
  border: 1px solid black;
  border-collapse: collapse;
  border-style: inset;
  text-align: center;
  width: 100%;
}

th {
  border: 1px solid #5c4934;
  text-align: center;
  padding: 8px;
}

td {
  border: 1px solid #5c4934;
  text-align: left;
  padding: 8px;
}

tr {
  background-color: #38262f;
}
